<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Cheak Gas Price</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="mystyles.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Cheak Gas Price
      </h1>
      <p class="subtitle">
        ガスの使用量を入力すると日本円に変換して出力されます
      </p>
      <div class="field">
        <label class="label">Gas Used</label>
        <div class="control">
          <input class="input" type="number" placeholder="Gas Used" id="gasUsed">
        </div>
      </div>
      <div class="field">
        <label class="label">Gas Price</label>
        <div class="control">
          <input class="input" type="text" placeholder="loading" id="gasPrice" readonly>
        </div>
      </div>
      <div class="field">
        <label class="label">ETH Price</label>
        <div class="control">
          <input class="input" type="text" placeholder="loading" id="ethPrice" readonly>
        </div>
      </div>
      <div class="field">
        <label class="label">gas to JPY Price</label>
        <div class="control">
          <input class="input" type="text" placeholder="gas to JPY Price" id="gasToJPY" value="0" readonly>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>
